<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../css/mdb.min.css" />

    <link rel="stylesheet" href="../css/css3.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/dbed6b6114.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
              src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
              height="15"
              alt="MDB Logo"
              loading="lazy"
            />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto ml-5 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <!-- Icon -->
          <!-- <a class="text-reset me-3" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a> -->
          <span class="glyphicon glyphicon-shopping-cart my-cart-icon">
            <span class="badge badge-notify my-cart-badge"> </span>
          </span>

          <!-- Notifications -->
          <div class="dropdown">
            <a
              class="text-reset me-3 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger"
                >1</span
              >
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>
          <!-- Avatar -->
          <div class="dropdown">
            <a
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="rounded-circle"
                height="25"
                alt="Black and White Portrait of a Man"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="products">
      <div class="container">
        <br />
        Products
        <div style="float: right; cursor: pointer">
          <span class="glyphicon glyphicon-shopping-cart my-cart-icon">
            <span class="badge badge-notify my-cart-badge"> </span>
          </span>
        </div>
        <div class="product-items">
          <!-- single product -->
          <div class="product">
            <div class="product-content">
              <div class="product-img">
                <img src="./img/shoe-1.png" alt="product image" />
              </div>
              <div class="product-btns">
                <!-- <button type="button" class="btn-cart" > -->
                <button
                  class="btn btn-danger my-cart-btn"
                  data-id="2"
                  data-name="shoes"
                  data-price="300"
                  data-quantity="1"
                  data-image="./img/shoe-1.png"
                >
                  add to cart
                  <span><i class="fas fa-plus"></i></span>
                </button>
              </div>
            </div>

            <div class="product-info">
              <div class="product-info-top">
                <h2 class="sm-title">lifestyle</h2>
              </div>
              <a href="#" class="product-name"
                >mens shoes DN 23XX, new product</a
              >
              <p class="product-price">Catatory</p>
              <p class="product-price">$ 133.00</p>
            </div>
          </div>
          <!-- end of single product -->
          <!-- single product -->
          <div class="product">
            <div class="product-content">
              <div class="product-img">
                <img src="./img/shoe-2.png" alt="product image" />
              </div>
              <div class="product-btns">
                <button
               
                  class="btn btn-danger my-cart-btn"
                  data-id="3"
                  data-name="Product 1"
                  data-price="10"
                  data-quantity="1"
                  data-image="./img/shoe-2.png"
                >
                  add to cart
                  <span><i class="fas fa-plus"></i></span>
                </button>
              </div>
            </div>

            <div class="product-info">
              <div class="product-info-top">
                <h2 class="sm-title">lifestyle</h2>
              </div>
              <a href="#" class="product-name"
                >mens shoes DN 23XX, new product</a
              >
              <p class="product-price">Catatory</p>
              <p class="product-price">$ 133.00</p>
            </div>
          </div>
          <!-- end of single product -->
        </div>
      </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="./js/jquery.mycart.js"></script>
    <script src="./js/cart.js"></script>
  </body>
</html>
